.ol-control,
.ol-scale-line
{
    position: absolute;

    padding: 2px;
}.ol-box
{
    box-sizing: border-box;

    border: 2px solid #00f;
    border-radius: 2px;
}.ol-mouse-position
{
    position: absolute;
    top: 8px;
    right: 8px;
}.ol-scale-line
{
    bottom: 4px;
    left: 6px;

    border-radius: 4px;
    background: rgba(0,60,136,.2);
}.ol-scale-line-inner
{
    font-size: 10px;

    margin: 1px;

    text-align: center;

    color: #eee;
    border: 1px solid #eee;
    border-top: none;

    will-change: contents,width;
}.ol-overlay-container
{
    will-change: left,right,top,bottom;
}.ol-unsupported
{
    display: none;
}.ol-viewport .ol-unselectable
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}.ol-control
{
    border-radius: 4px;
    background-color: rgba(255,255,255,.4);
}.ol-control:hover
{
    background-color: rgba(255,255,255,.6);
}.ol-zoom
{
    top: .5em;
    left: .5em;
}.ol-rotate
{
    top: .5em;
    right: .5em;

    transition: opacity .25s linear,visibility 0s linear;
}.ol-rotate.ol-hidden
{
    visibility: hidden;

    transition: opacity .25s linear,visibility 0s linear .25s;

    opacity: 0;
}.ol-zoom-extent
{
    top: 4.643em;
    left: .5em;
}.ol-full-screen
{
    top: .5em;
    right: .5em;
}@media print
{
    .ol-control
    {
        display: none;
    }
}.ol-control button
{
    font-size: 1.14em;
    font-weight: 700;
    line-height: .4em;

    display: block;

    width: 1.375em;
    height: 1.375em;
    margin: 1px;
    padding: 0;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: rgba(0,60,136,.5);
}.ol-control button::-moz-focus-inner
{
    padding: 0;

    border: none;
}.ol-zoom-extent button
{
    line-height: 1.4em;
}.ol-compass
{
    font-size: 1.2em;
    font-weight: 400;

    display: block;

    will-change: transform;
}.ol-touch .ol-control button
{
    font-size: 1.5em;
}.ol-touch .ol-zoom-extent
{
    top: 5.5em;
}.ol-control button:focus,
.ol-control button:hover
{
    text-decoration: none;

    background-color: rgba(0,60,136,.7);
}.ol-zoom .ol-zoom-in
{
    border-radius: 2px 2px 0 0;
}.ol-zoom .ol-zoom-out
{
    border-radius: 0 0 2px 2px;
}.ol-attribution
{
    right: .5em;
    bottom: .5em;

    max-width: calc(100% - 1.3em);

    text-align: right;
}.ol-attribution ul
{
    font-size: .7rem;
    line-height: 1.375em;

    margin: 0;
    padding: 0 .5em;

    color: #000;
    text-shadow: 0 0 2px #fff;
}.ol-attribution li
{
    line-height: inherit;

    display: inline;

    list-style: none;
}.ol-attribution li:not(:last-child):after
{
    content: ' ';
}.ol-attribution img
{
    max-width: inherit;
    max-height: 2em;

    vertical-align: middle;
}.ol-attribution button,
.ol-attribution ul
{
    display: inline-block;
}.ol-attribution.ol-collapsed ul
{
    display: none;
}.ol-attribution.ol-logo-only ul
{
    display: block;
}.ol-attribution:not(.ol-collapsed)
{
    background: rgba(255,255,255,.8);
}.ol-attribution.ol-uncollapsible
{
    line-height: 1em;

    right: 0;
    bottom: 0;

    height: 1.1em;

    border-radius: 4px 0 0;
}.ol-attribution.ol-logo-only
{
    line-height: 1em;

    bottom: .4em;

    height: 1.1em;

    background: 0 0;
}.ol-attribution.ol-uncollapsible img
{
    max-height: 1.6em;
    margin-top: -.2em;
}.ol-attribution.ol-logo-only button,
.ol-attribution.ol-uncollapsible button
{
    display: none;
}.ol-zoomslider
{
    top: 4.5em;
    left: .5em;

    height: 200px;
}.ol-zoomslider button
{
    position: relative;

    height: 10px;
}.ol-touch .ol-zoomslider
{
    top: 5.5em;
}.ol-overviewmap
{
    bottom: .5em;
    left: .5em;
}.ol-overviewmap.ol-uncollapsible
{
    bottom: 0;
    left: 0;

    border-radius: 0 4px 0 0;
}.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button
{
    display: inline-block;
}.ol-overviewmap .ol-overviewmap-map
{
    width: 150px;
    height: 150px;
    margin: 2px;

    border: 1px solid #7b98bc;
}.ol-overviewmap:not(.ol-collapsed) button
{
    position: absolute;
    bottom: 1px;
    left: 2px;
}.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button
{
    display: none;
}.ol-overviewmap:not(.ol-collapsed)
{
    background: rgba(255,255,255,.8);
}.ol-overviewmap-box
{
    border: 2px dotted rgba(0,60,136,.7);
}
