{
  "presets": [
    'es2015',
    'react',
    'stage-3'
  ],
  "ignore": [
    "ol.js"
  ],
  "plugins": [
    'transform-object-rest-spread',
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "presets": [
      ]
    }
  }
}