/*
* @Author: zhangyujie
* @Date:   2016-05-09 12:04:33
* @Last modified by:   haiwang
* @Last modified time: 2017-01-19 13:32:50
* @Email: zhangyujie3344521@163.com
* @File Path: /Users/zhangyujie/node/www/tueasy5.0/visual/Test/components/Nav/Nav.css
* @File Name: Nav.css
* @Descript:
*/

.Nav a {
    display: block;
    text-align: center;
}
.Nav a:hover {
    color: violet;
}
.nav a:focus {
    color: blue;
}
